<form data-id="<%= id %>" class="hidden" action="/delete/<%= id %>" method="POST" >
	<p>Remove <%= name	%>?</p>
	<a href="/" class="font-bold border px-1 py-0.5 text-cyan-300" data-name="close-confirmation-button">No</a>
	<button type=submit>Yes</button>
</form>

